<p>Hello, my name is {{name}} {{surname}}. I am from {{hometown}}. I have {{games.length}} games:</p>
<ul>
  {{#games}}
    <li style="margin-bottom: 10px;">Game: {{name}}<br>Platform: {{platform}}<br>Genre: {{ genre }}</li>
  {{/games}}
</ul>
